.hidden {
    display : none;
}

body {
    position: relative;
    width : 98vw;
    height: 70vh;
}

.bodyContainer {
    width : 100%;
    height: 100%;
    position: relative;
    background-color: #799F9F;
}

.chatContainer {
    width : 100%;
    height : 100%;
    display : flex;
    align-items: center;
    justify-content: center;
}

.chatBox {
    width: 80vh;
    height : 70vh;
    border : 5px solid black;
    margin-top: 140px;
    margin-bottom : 15px;
    box-sizing: content-box;
    padding: 15px;
    overflow-y: scroll;
}

.inputContainer {

}

.messageBox {
    /* margin-left: 150px; */
}
.sendBtn {
    /* mergin-right : 150px; */
}