<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="un.mapzine.dao.userMapper">
    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board (name, content, reg_date, viewCnt) VALUES (${name}, ${content}, now(), 0);
    </insert>
</mapper>